<%- include('partials/header') -%>


  <div class="container flex justify-center items-center min-h-full mx-auto p-5">
    <div class="flex flex-col min-w-full lg:flex-row">
      <div class="grid flex-grow card rounded-box items-start w-full lg:w-1/2 mx-auto">
        <div class="card bg-zinc-200 text-neutral-content shadow-2xl mx-auto">
          <div class="card-body items-center text-center">
            <h2 class="card-title text-black">
              <%= post.title %>
            </h2>
            <img class="rounded" src="<%= post.image%>" />
            <div class="flex justify-between w-full">
              <form class="flex items-center" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
                <button class="btn btn-secondary fa fa-heart" type="submit"></button>
                <h3 class="ml-2 text-black">Likes: <%= post.likes %>
                </h3>
              </form>
              <form class="col-1" action="/post/favoriteRecipe/<%= post.id %>" method="POST">
                <button class="btn btn-primary fa fa-star" type="submit"></button>
              </form>
              <% if (post.user==user.id) { %>
                <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="flex items-center">
                  <button class="btn btn-error fa fa-trash" type="submit"></button>
                </form>
                <% } %>
            </div>

            <div class="mt-5">
              <h2 class="text-black">Add a comment</h2>
              <form action="/comment/createComment/<%=post._id%>" method="POST">
                <div class="mb-3">
                  <label for="comment" class="form-label"></label>
                  <input type="text" class="form-control text-black" id="comment" name="comment">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
            </div>
            <ul class="flex flex-col w-full">
              <% for(var i=0; i<comment.length; i++) { %>
                <li class="flex justify-start w-full text-black mt-5">
                  <span class="font-bold mr-2">
                    <%= comment[i].user.userName %>:
                  </span>
                  <span>
                    <%= comment[i].comment %>
                  </span>
                </li>
                <% } %>
            </ul>
            <div class="col-6 mt-5">
              <a class="btn btn-primary m-2" href="/profile">Return to Profile</a>
              <a class="btn btn-info m-2" href="/feed">Return to Feed</a>
            </div>
          </div>
        </div>
      </div>

      <div class="divider lg:divider-horizontal">
        <span class="material-symbols-outlined md-60">
          outdoor_grill
        </span>
      </div>

      <div
        class="grid flex-grow card rounded-box place-items-center w-full lg:w-1/2 mx-auto max-h-[700px] overflow-y-auto">
        <div class="card bg-zinc-200 text-neutral-content shadow-2xl">
          <div class="card-body items-center text-center">
            <h2 class="card-title text-black">Ingredients</h2>
            <div class="flex-col mt-3">
              <p class="text-black">
                <%= post.ingredients %>
              </p>
            </div>
            <h2 class="card-title text-black mt-3">Directions</h2>
            <div class="flex-col mt-3">
              <p class="text-black">
                <%= post.directions %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>